
/*full body of the site*/
body {
  background-color: #FFFFFF;  
}

#title-top-text {
  letter-spacing: 7px;
  font-size: 75px;
  font-family: 'Roboto';
  font-weight: bolder;
  width: 200px;
  top: -10px;
  margin-left: 250px;
  position: absolute;
  line-height: 92%;
}

.body-wrapper {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  background-color: #FFFFFF;  
}

.width-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  background-color: #FFFFFF;
}

/*------- Head Photo + Text Shenanigans --------------------------*/

.side-photo {
  height: 700px;
  position: relative;
}

.goodies {
  position: absolute;
  top:150px;
  margin-left: 24%;
}

.header-text-span {
  background-color: #FFFFFF;
  padding: 10px;
}

.header-detail-span {
  padding: 10px;
}

span.spacer {
  padding: 0 5px;
}

#wrapper {
  padding: 40px;
}

#sidebar-wrapper {
  width: 160px;
}

#main-page {
  padding-top: 100px;
}

#bigvideo { 
  position: relative;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/*-------- Sidebar Shenanigans --------------------------*/

.sidebar-nav {
  list-style-image: none;
  list-style-type: none;
  -webkit-padding-start: 0px;
  color: #333333;
  display: inline-block;
}

.sidebar-list {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 5px;
  color: #000000;
  font-family: 'Droid Sans Mono', monospace;
}

.sidebar-list-links {
  padding-top: 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.image-button {
  height: 125px;
  padding-right: 25px;
}

.image-button-small {
  height: 100px;
  padding-right: 25px;
}

.image-button-video {
  height: 125px;
}

/*-------- Navbar Shenanigans ---------------------------*/

.navbar-default .navbar-brand {
  color: #ffffff;
  background-color: #37474F;
  height: 70px;
  width: 70px;
  padding: 25px 20px;
}
.navbar-default .navbar-brand:link{
  color: #ffffff;
  background-color: #37474F;
} 
.navbar-default .navbar-brand:hover{
  color: #ffffff;
  background-color: #37474F;
}

.navbar-default .navbar-brand:active{
  color: #ffffff;
  background-color: #37474F;
}

.navbar-default .navbar-brand:visited{
  color: #ffffff;
  background-color: #37474F;
}