
/*full body of the site*/
body {
  background-color: #FFFFFF;  
  font: 12px/1.4em Roboto,sans-serif;
}

#title-top-text {
  letter-spacing: 7px;
  font-size: 75px;
  font-weight: bolder;
  width: 200px;
  top: -10px;
  margin-left: 250px;
  position: absolute;
  line-height: 92%;
}

.body-wrapper {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  background-color: #FFFFFF;  
}

.width-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  background-color: #FFFFFF;
}

/*------- Head Photo + Text Shenanigans --------------------------*/

.side-photo {
  height: 100%;
  position: relative;
}

.goodies {
  position: absolute;
  top:150px;
  margin-left: 300px;
}

.header-text-span {
  background-color: #FFFFFF;
  padding: 10px;
}

.header-detail-span {
  padding: 10px;
}

span.spacer {
  padding: 0 5px;
}

#wrapper {
  padding: 40px;
}

#sidebar-wrapper {
  width: 160px;
}

#main-page {
  padding-top: 100px;
}

#bigvideo { 
  position: relative;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/*-------- Sidebar Shenanigans --------------------------*/

.sidebar-nav {
  list-style-image: none;
  list-style-type: none;
  -webkit-padding-start: 0px;
  color: #333333;
  display: inline-block;
}

.sidebar-list {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 5px;
  color: #262626;
  font-family: 'Droid Sans Mono', monospace;
}

.sidebar-list-links {
  padding-top: 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.image-button {
  height: 125px;
  padding-right: 25px;
}

/*-------- Navbar Shenanigans ---------------------------*/

.navbar {
  margin-bottom: -50px;
  border: none;
  color: #ffffff;
  font-family: "Arial";
  font-weight: 700;
  background-color: transparent;
  height: 70px;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  background-color: #37474F;
  height: 70px;
  width: 70px;
  padding: 25px 20px;
}
.navbar-default .navbar-brand:link{
  color: #ffffff;
  background-color: #37474F;
} 
.navbar-default .navbar-brand:hover{
  color: #ffffff;
  background-color: #37474F;
}

.navbar-default .navbar-brand:active{
  color: #ffffff;
  background-color: #37474F;
}

.navbar-default .navbar-brand:visited{
  color: #ffffff;
  background-color: #37474F;
}

/*---- Intro nav button ----*/
.navbar-default .navbar-nav>li.intro a{
  color: #ffffff;
  height: 70px;
  padding: 25px;
}

.navbar-default .navbar-nav>li.intro a:hover{
  background-color: #FFDB00;
  height: 70px;
  padding: 25px;
}

/* ------- Sections -------------------------------------*/

.section-container {
  width: 70%;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.section-container h1 {
  font-family: "Arial";
  color: #333333;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 400%;
}

/* ------- Misc. -------------------------------------*/

a:link    {color: rgba(0, 0, 0, 0.8); background-color:transparent; text-decoration:none}
a:visited {color: rgba(0, 0, 0, 0.8); background-color:transparent; text-decoration:none}
a:hover   {color: rgba(252, 230, 30, 1); background-color:transparent; text-decoration:none}
a:active  {color: rgba(252, 208, 30, 1); background-color:transparent; text-decoration:none}

