
/*full body of the site*/
body {
  background-color: #FFFFFF;  
  font: 12px/1.4em Roboto,sans-serif;
}

.row {
  width: 100%;
  padding-left: 10px;
}

.section-header {
  font-size: 24px;
  font-family: Roboto;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #444444;
  margin-bottom: 0px;
}

.section-header-videos {
  font-size: 24px;
  font-family: Roboto;
  letter-spacing: 2px;
  font-weight: bolder;
  font-style: italic;
  color: #444444;
  margin-bottom: 0px;
}

.section-me {
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 2px;
  font-style: italic;
  color: #2EED00;
  margin-top: 5px;
  margin-bottom: 0px;
}

.section-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #555555;
  padding-bottom: 5px;
  padding-top: 10px;
}

.body-wrapper {
  width: 100%;
  padding-right: 20%;
  padding-left: 15px;
  padding-top: 25px;
  margin: 0 auto;
  background-color: #FFFFFF;  
}

.width-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  background-color: #FFFFFF;
}

.caption {
  font-size: 14px;
  margin: 0 auto;
  width: 98%;
  color: #888888;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  padding-bottom: 25px;
}

.majorkey {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 1px;
  font-weight: bold;
  color: #444444;
  padding-bottom: 5px;
  padding-top: 10px;
}

.sections {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-top: 25px;
  line-height: 175%;
  list-style-type: none;
}

.list-button {
  color: #555555;
  padding: 5px;
  background-color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
}

.list-button:link{
  text-decoration: none;
  background-color: none;
}

.list-button:hover{
  color: #ffffff;
  background-color: #0FA6C5;
  text-decoration: none;
}

.list-button:visited{
  color: #ffffff;
  background-color: #0FA6C5;
  text-decoration: none;
}

.list-button:focus{
  color:#ffffff;
}

.selected{
  color: #ffffff;
  background-color: #0FA6C5;
  text-decoration: none;
}


/*------- Head Photo + Text Shenanigans --------------------------*/

.header-photo {
  width: 100%;
  min-height: 300px;
  position: relative;
}

.content-photo {
  width: 100%;
  position: relative;
}


.investigating-photo{
  margin: 0 auto;
  display: block;
  width:80%;
}

.header-text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  position: absolute;
  top: 100px;
  margin-left: 15px;
  line-height: 150%
}

.header-detail {
  font-family: Roboto;
  font-style: italic;
  font-size: 18px;
  position: absolute;
  color: #FFFFFF;
  top: 86px;
  margin-left: 15px;
}


.header-text-span {
  background-color: #ffffff;
  padding: 10px;
}

.header-detail-span {
  padding: 10px;
}

#clarksdale {
  background-color: #0FA6C5;
}

#investigating {
  background-color: #0FA6C5;
}

#investigating-gif {
  margin-top: -180px;
}

span.spacer {
  padding: 0 5px;
}

#wrapper {
  padding: 40px;
}

#sidebar-wrapper {
  width: 160px;
}

#bigvideo { 
  position: relative;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.video-layout {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

/*-------- Navbar Shenanigans ---------------------------*/

.navbar-doyung {
  width: 100%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position:fixed;
  z-index:1;
  background-color: #ffffff;
}

.navbar-heading {
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-link {
  color: #000000;
}

.navbar-link:hover {
  color: #999999;
  text-decoration: none;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  background-color: #37474F;
  height: 70px;
  width: 70px;
  padding: 25px 20px;
}